.correct {
  color: green; 
}

.center {
  text-align: center; 
}

.hidden {
  display: none; 
}

.incorrect {
  color: red; 
}

main {
  padding: 50px; 
}

li {
  display: block; 
}

.trophy-container {
  text-align: center; 
}

.trophy {
  width: 150px; 
  display: inline-block; 
  margin-left: auto; 
  margin-right: auto; 
}