* {
  margin: 0;
  padding: 0;
  font-family: 'Droid Sans', sans-serif;
  font-size: 16px;
  box-sizing: border-box; }

h1, h2, h3, p {
  margin-bottom: 10px;
  margin-top: 10px; }

h1 {
  font-size: 30px;
  font-weight: bold; }

main {
  padding: 100px; }

.center {
  text-align: center; }

.left {
  text-align: left; }

.form-response {
  height: 1.5em;
  margin-top: 40px; }

button {
  margin: 20px auto;
  padding: 10px 15px;
  border: 0px solid #ddd;
  border-radius: 6px;
  text-align: center;
  width: 8em; }
  button.start-button {
    display: block;
    margin: auto;
    margin-top: 70px;
    text-align: center;
    border-radius: 9px;
    background-color: #3A7F46;
    width: 80%;
    padding: 15px 35px; }
    button.start-button .start-button-interior {
      display: block;
      margin: auto;
      text-align: center;
      width: 110px; }
      button.start-button .start-button-interior .fa-play-circle, button.start-button .start-button-interior span {
        display: inline-block;
        color: white; }
      button.start-button .start-button-interior .fa-play-circle {
        font-size: 36px;
        float: left; }
      button.start-button .start-button-interior span {
        float: right;
        font-size: 30px; }
  button.answers {
    background-color: #3D444D;
    color: white;
    width: 19em; }
  button.restart {
    background-color: #3A7F46;
    color: white; }
  button.next {
    background-color: #3D444D;
    color: white; }
  button.submit {
    background-color: #3A7F46;
    color: white; }
    button.submit:hover {
      background-color: #2a5c33;
      color: #e6e6e6; }

.button-container {
  margin: auto;
  text-align: center; }

.answers {
  margin-left: auto;
  margin-right: auto;
  display: inline-block; }

.correct {
  color: #3A7F46; }

.end-check {
  position: relative;
  bottom: 20px;
  font-size: 40px !important;
  color: #3A7F46;
  margin-bottom: 20px !important; }

.end-times {
  position: relative;
  bottom: 20px;
  font-size: 40px !important;
  color: #7E0F0C;
  margin-bottom: 20px !important; }

.finalAnswers {
  margin-top: 30px; }

.incorrect {
  color: #7E0F0C; }

input {
  margin-right: 10px; }

li {
  display: block; }

.left-spacing {
  margin-left: 44px; }

ul {
  margin-left: 20px;
  display: inline-block;
  width: 150px; }

.mySelection {
  position: relative;
  left: -14px; }

.mySelection:before {
  font-family: FontAwesome;
  content: '\f061';
  position: relative;
  left: -5px; }

.js-status-bar-container {
  display: block;
  position: relative;
  height: 30px;
  overflow: hidden;
  width: 100%; }

.js-status-line-constant {
  width: 100%;
  height: 16.2px;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 2px solid #6A6868;
  z-index: -1; }

.js-status-line {
  width: 100vw;
  height: 18.2px;
  position: absolute;
  top: 0;
  right: 50%;
  border-bottom: 6px solid #6A6868;
  z-index: -1; }

.statusBarIcon-container {
  display: inline-block;
  margin: 0 auto;
  text-align: center; }

.statusBarIcon {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  height: 30px;
  width: 30px;
  background-color: #6A6868;
  border-radius: 50%; }
  .statusBarIcon .fa {
    font-size: 22.5px;
    color: white;
    text-align: center;
    z-index: 999;
    margin-top: 3px; }
  .statusBarIcon.doneIcon.correctIcon {
    background-color: #3A7F46; }
  .statusBarIcon.doneIcon.incorrectIcon {
    background-color: #7E0F0C; }

.fa:before {
  content: '\00a0'; }

.trophy-container {
  margin: auto;
  text-align: center;
  width: 50%; }

.trophy {
  padding: 30px;
  width: 100%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto; }

.hidden {
  display: none; }

/*# sourceMappingURL=main.css.map */
