.correct {
  color: green; 
}

.incorrect {
  color: red; 
}

.center {
  text-align: center; 
}

.hidden {
  display: none; 
}

main {
  padding: 50px; 
}

li {
  display: block; 
}

.trophy-container {
  text-align: center; 
}

.trophy {
  width: 150px; 
  display: inline-block; 
  margin-left: auto; 
  margin-right: auto; 

.mySelection {
  text-decoration: underline;
}

.js-status-bar-container {
  display: block;
  position: relative;
  height: 3em;
  overflow: none;
  width: 100%;
}

.js-status-line {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 2px solid black;
  z-index: -1;
}

.statusBarIcon {
  display: inline-block;
  float: left;
  margin: 0 auto;
  text-align: center;
  height: 1.5em;
  margin-top: 1em;
}
.done {

}